{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to the NC Democratic Voter Project</h2>
    <p>Website developed by Sam Grote based on voter data as of: {{file_date.file_date}}</p>
    <div id= "index-table" style="width: 50%; float: left; text-align: left">
        <table id="county-results" class="custom-table table table_striped table-bordered table-hover table-sm">
        {% if county_data %}
            <thead class="thead-light">
                <th>County</th>
                <th># of Democrat Voters</th>
                <th># of Republican Voters</th>
                <th># of Independent Voters</th>
            </thead>
            <TBODY>
                {% for county, party_counts in county_data.items %}
                    <tr>
                        <td><a href="{% url 'county_view' county %}">{{party_counts.county_name}}</a></td>
                        <td>{{ party_counts.DEM|default_if_none:0 }}</td>
                        <td>{{ party_counts.REP|default_if_none:0 }}</td>
                        <td>{{ party_counts.UNA|default_if_none:0 }}</td>
                    </tr>
                {% endfor %}
            </TBODY>
        {% endif %}
    </table>
        <script>
        $(document).ready(function () {
            $('#county-results').DataTable({
                paging: false
                });
            });
        </script>
    </div>

{% endblock %}
