{% extends 'base.html' %}
{% block content %}
<div>
    <button onclick="goBack()">&larr;</button>
<script>
function goBack() {
  window.history.back();
}
</script>
</div>
<br>
<h2>{{ voter_info.first_name}} {{voter_info.last_name}}</h2>
    <table id="voter-detail" class="custom-table table table_striped table-bordered table-hover table-sm">
        <thead class="thead-light">
            <th>NC ID</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>Gender</th>
            <th>Race</th>
            <th>Ethnicity</th>
            <th>Phone Number</th>
            <th>Registration Date</th>
            <th>Party</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ voter_info.nc_id}}</td>
            <td>{{ voter_info.street_address }}</td>
            <td>{{ voter_info.city }}</td>
            <td>{{ voter_info.zip_code }}</td>
            <td>{{ voter_info.gender_code.gender_desc }}</td>
            <td>{{ voter_info.race_code.race_desc }}</td>
            <td>{{ voter_info.ethnicity_code.ethnicity_desc }}</td>
            <td>{{ voter_info.phone_number }}</td>
            <td>{{ voter_info.registration_date }}</td>
            <td>{{ voter_info.party_code_id }}</td>
            <td>{{ voter_info.birth_year }}</td>
        </tr>
        </tbody>
        <th>Birth Year</th>
    </table>
    <br>
    <h3>Voter History</h3>
    <table id="voter-history" class="custom-table table table_striped table-bordered table-hover table-sm">
        <thead class="thead-light">
            <th>Election</th>
            <th>Voting Method</th>
            <th>Voted Party</th>
            <th>Precinct</th>
            <th>County</th>
        </thead>
        <tbody>
        {% for election in voter_history %}
        <tr>
            <td>{{ election.election_description}}</td>
            <td>{{ election.voting_method }}</td>
            <td>{{ election.voted_party }}</td>
            <td>{{ election.precinct_abbreviation }}</td>
            <td>{{ election.voted_county_id }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#voter-info').DataTable({
                "paging": false}
            );
            $('#voter-history').DataTable({
                "paging": false,
                "filter": false,
                "order": [],
                "info": false}
            )
        });
    </script>
{% endblock %}

